@media (max-width: 670px) {
    .dn-s{
        display: none;
    }
    .items-center-s {
        align-items: center;
    }
    .flex-column-reverse-s {
        flex-direction: column-reverse;
    }
    .items-center-s {
        align-items: center;
    }
}
.death:hover{
    box-shadow: 0 0 4px 2px rgba( 0, 0, 0, .2 );
    border-left: 4px solid gold;
}
