@media (max-width: 670px) {
    .dn-s{
        display: none;
    }
    .items-center-s {
        align-items: center;
    }
    .flex-column-reverse-s {
        flex-direction: column-reverse;
    }
    .items-center-s {
        align-items: center;
    }
}