$color-primary: #3dcfd3;
$color-secondary: #6c757d;
$color-white: #FFFFFF;
$color-light: #f2f2f2;
$color-danger: #c42828;
$color-green: #26AE61;
$color-golden: #d0b206;
$color-dark:#1f1e1b;
$color-white-light: #D5FFE7;

$border-card:1px solid  #f1f1f2;