
.loader {
    position: relative;
    width: $size;
    height: $size;
    transform: rotate(165deg);

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: $thinkness;
        height: $thinkness;
        border-radius: $thinkness/2;
        transform: translate(-50%, -50%);
    }
    &:before {
        animation: before 2s infinite;
    }
    &:after {
        animation: after 2s infinite;
    }
}

@keyframes before {
    0% {
        width: $thinkness;
        box-shadow: $lat (-$offset) nth($colors , 1), (-$lat) $offset nth($colors, 3);
    }
    35% {
        width: $size;
        box-shadow: 0 (-$offset) nth($colors , 1), 0 $offset nth($colors, 3);
    }
    70% {
        width: $thinkness;
        box-shadow: (-$lat) (-$offset) nth($colors , 1), ($lat) $offset nth($colors, 3);
    }
    100% {
        
        box-shadow: $lat (-$offset) nth($colors , 1), ($lat) $offset nth($colors, 3);
    }
}

@keyframes after {
    0% {
        height: $thinkness;
        box-shadow: $offset $lat nth($colors , 2), (-$offset) (-$lat) nth($colors, 4);
    }
    35% {
        width: $size;
        box-shadow: $offset 0 nth($colors , 2), (-$offset) 0 nth($colors, 4);
    }
    70% {
        height: $thinkness;
        box-shadow: $offset $lat nth($colors , 2), (-$offset) (-$lat) nth($colors, 4);
    }
    100% {
        
        box-shadow: $offset $lat nth($colors , 2), (-$offset) (-$lat) nth($colors, 4);
    }
}

html, body {
    height: 100%;
}

.loader {
    position: absolute;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
}