.login {
    .container {
        @include container;
        .login_div {
            @include flexVertical;
            padding: 0rem 0;
            .form {
                width: 445px;
                height: auto;
                display: grid;
                grid-column: 1;
                text-align: center;
                padding: 2rem;
                font-size: 12px;
                border-radius: 30px;
                border: 1px solid $color-golden;
                transform: all .3s;
            }
            .form-control {
                @include formControl;
            }
            input {
                margin-top: 1rem;
            }
            .forgot {
                margin-top: 2rem;
                @include flexAround;
            }
            .social {
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-top: 1rem;
                    cursor: pointer;
                }
                img + img {
                    margin-left: 1.5rem;
                }
            }
        }
    }
    .btn {
        margin-top: 1rem;
        font-size: 14px;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 50px;
        border-color: $color-white;
        cursor: pointer;
        text-transform: uppercase;
        background: $color-golden;
        color: $color-dark;
        font-weight: bolder;
        transition: all .3s ease-in-out;
    }
}