.header {
    width: 100vw;
    height: auto;
    padding-bottom: 3rem; 

    .hero_section {
        padding-top: 3rem;
    }
    .title {
        font-size: 30px;
        color: $color-golden;
        text-align: center;
    }
}