.category {
    background: $color-light;
    &-container {
        @include container;

        &-info {
            margin-top: 6rem;
            text-align: center;
            line-height: 2;

            &__heading {
                font-size: 30px;
                color: $color-golden;
            }
        }
        &__card-wrapper {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            row-gap: 15rem;
            column-gap: 15rem;
            
            // h1 {
            //     color: $color-golden;
                
            // }

            

            &__card {
                transition: all .3s linear;
                border: $border-card;
                margin-top: -1px;
                background: $color-white;
                padding: 20px;
                text-align: center;
                cursor: pointer;
                display: block;
                margin-right: -1px;
                position: relative;
                box-shadow: $boxshadow-card;
                
                img {
                    font-size: 1.6rem;
                    color: $color-golden;
                }

                h1,p {
                    margin-top: 0.6rem;
                    color: $color-dark;
                }

                &:hover {
                    box-shadow: $boxshadow-card-hover;
                }
            }
        }
    }
}