.death {
    background: $color-white;
    padding-bottom: 2rem;
    

        .death-info {
            margin-top: 4rem;
            text-align: center;
            line-height: 2;
        }

        h1 {
            font-size: 30px;
            color: $color-golden;
        }
        p {
            text-align: center;
            font-size: large;
        }

        
        
        .death__wrapper1 {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px 7px;

            &__card {
                @include card;
                border: 1px solid $color-golden;
                background: $color-white;
                box-shadow: $box-shadow;
                position: relative;
                @include flexBetween;

                // display: flex;
                // justify-content: space-around;

                &--line {
                    border-right: 1px solid $color-golden;
                    height: 100%;
                }
                &--left {
                   img {
                    width: 80%;
                    height: 80%;
                    padding: 10px;
                   }
                }
                &-right {
                    width: 75%;
                    height: auto;
                    text-align: center;
                    margin-left: 3rem !important;
                    //@include flexBetween;
                    display: flex;
                    justify-content: space-around;

                    &__part-1 {
                        h1 {
                            margin-top: 1.2rem;
                            color: $color-dark !important;
                        }
                        p {
                            margin-left: 0.4rem;
                        }
    
                        // a {
                        //     margin-top: 1rem;
                        //     font-size: 14px;
                        //     display: inline-block;
                        //     padding: 5px 15px;
                        //     border-radius: 50px;
                        //     cursor: pointer;
                        //     text-transform: uppercase;
                        //     background: $color-golden;
                        //     color: $color-white;
                        //     font-weight: bolder;
                        //     transition: all .3s ease-in-out;
                        // }
                    }

                    
                    &__part-2 {
                        margin-top: -7rem;
                        i {
                            font-size: 2rem;
                            padding-top: 110px;

                            &:hover {
                                color: $color-danger;
                            }
                        }
                        
                    }
                }
                &:hover {
                    box-shadow: 1px 8px 20px $color-secondary;
                    transition: box-shadow .6s linear;
                    border-left: .4rem solid $color-golden;
                    cursor: pointer;
                }
            }
        }
        
    
   
}